## Módulo 7 - Banco de Dados SQL

### Conceitos Básicos

#### Bancos de Dados
Um banco de dados é uma coleção organizada de informações - ou dados - estruturadas, normalmente armazenadas eletronicamente em um sistema de computador. Um banco de dados é geralmente controlado por um sistema de gerenciamento de banco de dados (SGBD)

#### SGBD - Sistema de Gerenciamento de Banco de Dados
Um SGBD é um software responsável por tornar o banco de dados gerenciável permitindo que ele seja manipulado. Ele ainda não é o software que vai ser utilizado pelo usuário final e sim o que o DBA ou Database Administrator irá utilizar. Um SGBD facilita o processo de definir, construir, manipular e compartilhar bancos de dados entre vários usuários e aplicações.

- Oracle
- MySQL
- SQL Server
- PostgreSQL
- MongoDB


#### SQL
SQL é uma abreviação para Structured Query Language, ou linguagem de consulta estruturada, em Português. Ela surgiu na década de 1970, na International Business Machines Corporation (IBM) e trata-se de uma uma linguagem padrão para trabalhar com bancos de dados relacionais.
A linguagem SQL é utilizada de maneira relativamente parecida entre os principais bancos de dados relacionais do mercado: Oracle, MySQL, MariaDB, PostgreSQL, Microsoft SQL Server, entre muitos outros. Cada um tem suas características, sendo o MySQL e o PostgreSQL extremamente populares por possuírem versões gratuitas e de código aberto.

#### Banco de Dados Relacionais
Um banco de dados relacional é uma coleção de itens de dados com relacionamentos predefinidos entre si. Esses itens são organizados como um conjunto de tabelas com colunas e linhas. As tabelas são usadas para reter informações sobre os objetos a serem representados no banco de dados.

#### Modelogagem de Banco de Dados

##### - Diagrama de Entidade-Relacionamento:
São diagramas que representam a estrutura do banco de dados, são utilizados para projetar os esquemas das tabelas e suas ligações;

##### - Tipos de Dados:
Descrição de alto nível (com estrutura e operações abstratas) do algoritmo:

- bigint (int8): inteiro de oito bytes;
- bigserial (serial8): inteiro de oito bytes de autoincremento;
- boolean (bool): lógica booleana (verdadeiro/falso);
- character (char [(n)]): cadeia de caracteres de comprimento fixo;
- character (varying (varchar [(n)]): cadeia de caracteres de comprimento variável;
- date data do calendário: (ano, mês, dia);
- integer (int,int4): inteiro de quatro bytes assinado;
- numeric (decimal): numérico exato de precisão

#### Grupo de Instruções SQL

    1° Grupo: DQL - Data Query Language (Linguagem de Consulta de Dados)
        Comando: Select - Seleciona todos os registros de uma tabela ou partes específicas que se deseja trabalhar.
        
    2º Grupo: DML - Data Manipulation Language (Linguagem de Manipulação de Dados)
        Comandos: Insert - Insere registros
                  Update - Atualiza registros já inseridos
                  Delete - Deleta registros
                 
    3º Grupo: DDL - Data Definition Language (Linguagem de Definição de Dados)
        Comandos: Creat - Cria objeto(tabela)
                  Alter - Altera objeto(tabela)
                  Drop - Detela objeto(tabela)
    
    4º Grupo: DCL - Data Control Language (Linguagem de Controle de Dados)
        Comandos: Grant - Concede acesso
                  Revoke - Remove acesso
     
    5º Grupo: DTL - Data Transaction Language (Linguagem de Transição de Dados)
        Comandos: Commit - Gravar(no final)
                  Rolback - Voltar antes de qualquer altereação no banco


#### Constraints

Constraints são objetos usados com a finalidade de estabelecer regras referentes à integridade e à consistência nas colunas das tabelas pertencentes a um sistema de banco de dados. Isso é importante porque para planejar e criar tabelas devemos garantir a integridade dos dados presentes nas colunas e identificar os valores válidos para tais dados.

##### - Primary Key:
PRIMARY KEY é uma restrição que identifica exclusivamente cada registro em uma tabela. As chaves primárias devem conter valores únicos e não podem conter valores NULL. Uma tabela pode ter apenas UMA chave primária e, na tabela, essa chave
primária pode consistir em uma ou várias colunas (campos).

In [ ]:
Exemplo Primary Key:

CREATE TABLE TABLE1 (
    column_1 data_type PRIMARY KEY ,
    column_2 data_type,
    …
);

##### - Defalt:
A constraint DEFAULT é utilizada para inserirmos um valor padrão em uma coluna. Esse valor padrão é inserido automaticamente nos registros se nenhum valor for especificado para a coluna em questão.

In [ ]:
Exemplo Defalt:

CREATE TABLE TABLE1 (
    column_1 data_type PRIMARY KEY ,
    column_2 data_type DEFAULT True,
    …
);

#### - Not null:
A restrição NOT NULL garante que uma coluna não admita valores NULL. Isto significa que será abortada uma operação de INSERT ou UPDATE que coloquem valor NULL nessa coluna.

In [ ]:
Exemplo Not null:

CREATE TABLE TABLE1 (
    column_1 data_type PRIMARY KEY ,
    column_2 data_type DEFAULT NOT NULL,
    …
);

#### - Unique:
A constraint UNIQUE impede que valores duplicados sejam inseridos na coluna. É implementada criando-se um índice unívoco em uma coluna.

In [ ]:
Exemplo Unique:

CREATE TABLE TABLE1 (
    column_1 data_type PRIMARY KEY ,
    column_2 data_type DEFAULT NOT NULL,
    column_3 data_type,
    CONSTRAINT column_3_uq UNIQUE (column_3)
);

#### - Foreign Key:
A FOREIGN KEY é usada para evitar ações que destruam links entre tabelas. Trata-se de um campo (ou coleção de campos) em uma tabela, que se refere a PRIMARY KEY em outra tabela.
A tabela com a chave estrangeira é chamada de tabela filha e a tabela com a chave primária é chamada de tabela referenciada ou pai.

In [ ]:
Exemplo Foreign Key:

CREATE TABLE address(
    id serial,
    street char(45),
    cep char(8),
    district char(45),
    city char(45),
    state char(24),
    is_delivery boolean default true,
    constraint address_pkey primary key(id),
    constraint fk_user foreign key(id) references users(id)
);

#### Relacionamento entre tabelas

Relacionamento um para um:
São relacionamentos em que uma ocorrência de uma entidade em A está associada no máximo a uma ocorrência em uma entidade B e uma ocorrência na entidade B está associada no máximo a uma ocorrência na entidade A.

Relacionamento um para muitos:
São relacionamentos em que uma ocorrência de uma entidade em A está associada mais de uma ocorrência em uma entidade B e uma ocorrência na entidade B está associada a mais de uma ocorrência na entidade A.

#### Comandos SQL

- CREAT TABLE - A instrução CREATE TABLE é usada para criar uma nova tabela em um banco de dados;


- DROP TABLE - A instrução DROP TABLE é usada para excluir uma tabela em um banco de dados;


- ALTER TABLE - A instrução ALTER TABLE é usada para adicionar, excluir ou modificar colunas em uma tabela existente;


- INSERT INTO - A instrução INSERT INTO é usada para inserir novos registros em uma tabela;


- UPDATE A instrução UPDATE é usada para modificar os registros existentes em uma tabela
    - É extremamente importante ter cuidado ao atualizar registros em uma tabela! Observe sempre a cláusula WHERE declaração. Ela especifica quais registros devem ser atualizados. Se você omitir essa cláusula, todos os registros da tabela serão atualizados!
    
    
- DELETE - A instrução DELETE é usada para excluir registros existentes em uma tabela
    - Para esse instrução também é muito importante ter cuidado com a cláusula WHERE. Caso contrário registros que não deveriam ser apagados podem ser impactados!
    
    
- SELECT - A cláusula SELECT é usada para selecionar dados de um banco de dados;


- JOIN - A cláusula JOIN é usada para combinar linhas de duas ou mais tabelas, com base em uma coluna relacionada entre elas. 

- WHERE - A cláusula WHERE é usada para filtrar registros.


- ORDER BY - A palavra-chave ORDER BY é usada para classificar o conjunto de resultados em ordem crescente ou decrescente.


- GROUP BY - A instrução GROUP BY agrupa as linhas que têm os mesmos valores em linhas de resumo;


- COUNT, AVG e SUM:
- A função COUNT retorna o número de linhas que corresponde a um critério especificado;
- A função AVG retorna o valor médio de uma coluna numérica.
- A função SUM retorna a soma total de uma coluna numérica.


- MIN E MAX
- A função MIN retorna o menor valor da coluna selecionada.
- A função MAX retorna o maior valor da coluna selecionada.


- LIKE
O operador LIKE é usado em uma cláusula WHERE para procurar um padrão especificado em uma coluna. Existem dois curingas frequentemente usados em conjunto com o operador:
    ● O sinal de porcentagem (%) representa zero, um ou vários caracteres
    ● O sinal de sublinhado (_) representa um único caractere